<div class="top-menu">
  <img class="logo" i18n-title title="Angular logo" alt="Angular logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>
  <div class="demo">
      <button i18n (click)="onEditCourse()">Edit Course</button>

      <div i18n>{coursesTotal, plural, =0 {No course available} 
        =1 {One course is available.} 
        other {A total of {{coursesTotal}} courses are available.} }</div>
  </div>

  <div class="courses" >
<!--    Use async to provide courses once it's retrieved from the server-->
    <course-card *ngFor="let course of courses"
                 (courseChanged)="save($event)"
                 [course]="course"
                 type="beginner">

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>

  </div>


</div>




